* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.container1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container2 {
  width: 720px;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
}
/* Thanh option */
.option {
  width: 185px;
  height: 200px;
  border: 2px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn {
  border: none;
  width: 100%;
  height: 25%;
  background-color: #d9d9d9;
  font-size: large;
}
#create {
  border-radius: 19px 19px 0 0;
}
#delete {
  border-radius: 0 0 19px 19px;
}
.btn:hover {
  cursor: pointer;
  background-color: #d9d9d9ad;
  color: rgba(0, 0, 0, 0.7);
}
/* Các tính năng */
.feature {
  width: 450px;
  height: 200px;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
}
.inp {
  width: 400px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: large;
  margin: 7px 0;
}
.check {
  color: red;
  font-size: large;
}
#checkR1 {
  font-size: x-large;
}
#dlt {
  width: 180px;
  border: 1px solid;
  border-radius: 15px;
}
#C {
  display: none;
}
#R {
  display: none;
}
#U {
  display: none;
}
#D {
  display: none;
}
