* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
  font-family: "Monotype Corsiva", "Apple Chancery", "ITC Zapf Chancery",
    "URW Chancery L", cursive;
}
html {
  scroll-behavior: smooth;
}
/*  */
/* Thanh menu */
/*  */
/* Code chung */
.thanhMenu {
  width: 100%;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #f6f6f6;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #bd2026;
}
/* Logo */
.logo {
  width: 20%;
}
.anhLogo {
  height: 95px;
  object-fit: cover;
}
/* Các mục */
.option {
  width: 50%;
  font-size: 28px;
}
.option ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 95px;
}
.option li {
  width: 25%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Cart & login */
.container1 {
  width: 20%;
  font-size: 22px;
  display: flex;
  justify-content: space-evenly;
}
.cart,
.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Dropdown */
.recommend {
  width: 280px;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 999;
  position: absolute;
  top: 100px;
  right: 4.9%;
  box-shadow: none;
  background-color: #fff;
  display: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  user-select: none;
}
.account:hover .recommend {
  display: block;
}
#unsign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#signed {
  display: none;
}
.signIn {
  width: 100%;
  margin-bottom: 10px;
}
.sigBtn,
.outBtn {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #ff9800;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.register {
  color: #bd2026;
  font-weight: 500;
}
.logGg {
  width: 100%;
  margin: 10px 0;
}
.ggBtn {
  height: 35px;
  width: 100%;
  border: 1px solid #dedede;
  color: #333;
  font-size: 15px;
  cursor: pointer;
}
.benefit {
  width: 100%;
  border: 2px solid #9a9a9a;
  border-radius: 5px;
  padding: 5px;
  font-family: "Monotype Corsiva", "Apple Chancery", "ITC Zapf Chancery",
    "URW Chancery L", cursive;
}
.benefit strong {
  font-size: 22px;
}
.benefit ul li {
  font-size: 18px;
  margin-left: 17px;
}
/*  */
/* Liên hệ */
/*  */
.contacts {
  background-image: url(bgct.png);
  padding: 10px 5%;
  width: 100%;
  height: 185px;
  display: flex;
  justify-content: space-evenly;
}
.info {
  display: inline-block;
  font-size: 24px;
}
.info2 {
  display: flex;
  align-items: center;
}
.info2 a {
  font-size: 20px;
  margin-right: 5px;
}
.info2 a img {
  width: 40px;
}
/*  */
/* Up to top */
/*  */
#scroll {
  position: absolute;
  top: 0;
}
.up {
  position: fixed;
  bottom: 50px;
  right: 5px;
  width: 60px;
}
#up {
  width: 100%;
}
