*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Berkshire Swash";
}
html{
    scroll-behavior: smooth;
}
.thanh_menu{
    width: 100%;
    background-color: #2c0047;
    position: fixed;
    top: 0;
    z-index: 3;
}
.ha,.menu,.mail,.lienhe{
    display: inline-block;
}
.ha{
    width: 24%;
    display: inline-flex;
    justify-content: center;
    padding:  10px 0px;
}
#logo{
    width: 55px;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
}
li{
    list-style: none;
    text-align: center;
    width: 20%;
    padding: 18px 0;
    margin: 10px 5px;
}
.menu{
    width: 50%;
    vertical-align: top;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
button{
    width: 155px;
    height: 50px;
    background-color: #f7ea66;
    border: none;
    border-radius: 30px;
}
#A1{
    position: absolute;
    top: 0;
}
li:hover{
    cursor: pointer;
    background-color: #530a80b6;
    text-decoration: underline;
}
button:hover{
    cursor: pointer;
    background-color: #fff47e;
    text-decoration: underline;
}

/*  */
.container1{
    margin: 90px 75px 20px 75px;
    background-color: #5c0096;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.575);
    position: relative;
}


.anh_hang{
    width: 520px;
    height: 534px;
    padding: 13px 0 0 0;
}
.slides {display: none}
.anh, iframe{
    vertical-align: middle;
    width: 494px;
    height: 468px;
    object-fit: cover;
}
.slide_container {
    max-width: 494px;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    color: #f7ea66;
    font-size: 21px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.anh_so {
    color: #f7ea66;
    font-size: 15px;
    padding: 10px 15px;
    position: absolute;
    top: 0;
}   
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/*  */
.tt_hang{
    position: absolute;
    top: 13px;
    right: 13px;
    width: 650px;
    margin-top: 50px;
}
svg{
    width: 20px;
}
.danh_gia{
    margin: 50px 0 20px 0;
}
h2{
    margin: 10px 0;
}
.them, .bot{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.nut{
    font-size: 52px;
    color: black;
    padding: 0 0 5px 0;
}
.nut:hover, .them:hover, .bot:hover {
    text-decoration: none;
}
#so_hang_mua{
    width: 70px;
    height: 50px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    text-align: center;
    font-size: 32px;
}
.chon_hang{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
.mua{
    width: 48%;
    font-size: 24px;
    border-radius: 10px;
    margin: 35px 5px 0 0 ;
}

/*  */
#background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 75px;
    z-index: -1;
}

/*  */
.container3{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: outset 2px #f7ea66;
    background-color: #5c0096;
    position: fixed;
    top: 85px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container3:hover{
    cursor: pointer;
}
#bag{
    width: 60px;
}
.gio_hang{
    position: relative;
}
#so_hang{
    position: absolute;
    color: #f7ea66;
    font-size: 32px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

/*  */
.tomb{
    position: fixed;
    bottom: 50px;
    right: 0px;
    width: 80px;
}
#tomb{
    width: 100%;
}

/*  */
.container2{
    background-color: #2c0047;
    padding: 20px 75px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.info{
    display: inline-block; 
    font-size: 24px;
}
.title{
    font-size: 32px;
    color: #f7ea66;
    text-align: center;
}
.mail{
    width: 47.5%;
    vertical-align: top;
    margin-top: 25px;
}
.sub{
    height: 40px;
    width: 20%;
    border-radius: 0 30px 30px 0;
    color: #5c0096;
}
input{
    height: 40px;
    width: 77%;
    border-radius: 30px 0 0 30px;
    padding-left: 10px;
    margin-top: 20px;
}